*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    /* height: 600px; */
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25%;
    display: flex;
    flex-wrap: wrap;
}
.inputs{
    text-align: right;
    padding: 20px;
    width: 100%;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    font-size: 35px;
}
.font{

    color: #000;
    background-color: rgb(217, 217, 217);
    font-size: 35px;
    width: 25%;
    text-align: center;
    padding: 30px;
    cursor: pointer;
    border: 1px solid #000;
    transition: .5s ease-in-out;

}
.font:hover{
    background-color: #ebebeb;
    transition: .5s ease-in-out;
}
.clear{
    width:50% ;
}
.zero{
    background-color: rgb(217, 217, 217);
    width: 75%;
    color: #000;
    font-size: 35px;
    cursor: pointer;
    text-align: center;
    padding: 30px;
    transition: .5s ease-in-out;
    border: 1px solid #000;
}
.zero:hover{
    transition: .5s ease-in-out;
    
    background-color: #ebebeb;
}
.color{
    background-color: rgb(223, 151, 76);

}
.color:hover{
    background-color: #dfb07e;
    transition: .5s ease-in-out;
}